In [1]:
def sum(numbers):
    res = 0
    for e in numbers:
        res += e
    return res

In [2]:
numbers = [1,2,3,4]

In [3]:
sum(numbers)

10

### *args ın anlamı en başta tuple gibi bir objem vardı fakat bunu tek tek elemanlarına ayırdım demek

In [5]:
def sum(*args):
    res = 0
    for e in args:
        res += e
    return  res

In [11]:
# args = (1,2,3,4) ise *args = 1,2,3,4 olarak varsayacak yani argsı tek tek elemanlarına ayıracak
#burada argsın adı önemli değil, *  ve herhangi bir isim kullanılabilir

In [29]:
def sum(*n):
    res = 0
    print(type(n))
    print(n)
    for e in n:
        res += e
    return res

In [30]:
sum(1,2,3,4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [13]:
sum(1,2,3)

<class 'tuple'>
(1, 2, 3)

6

In [15]:
sum(1,2,15)
numbers

<class 'tuple'>
(1, 2, 15)

[1, 2, 3, 4]

In [16]:
sum(1,2,3,41,5,6,7,8,9)

<class 'tuple'>
(1, 2, 3, 41, 5, 6, 7, 8, 9)

82

In [17]:
sum(a=1, b=2)

TypeError: sum() got an unexpected keyword argument 'a'

In [18]:
sum([1,2])

<class 'tuple'>
([1, 2],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [23]:
def sum(*args):
    res = 0
    for e in args:
        for j in e:
            res += j
    return  res

In [26]:
sum([1,2])

3

In [28]:
sum(['a', 12, '!'])

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

# **Kwargs
## Tuttuğu şey default olarak dictionary olacak
### Şöyle tutar: kwargs = {"name" = "Jake","student_number" = "401"...}

In [38]:
def students(**kwargs):
    for v in kwargs.values():
        print(v)

In [39]:
students(name = "Jake", student_number = "401")

Jake
401

In [43]:
def students(**students):
    print(students)
    for v in students:
        print(v)

In [44]:
students(name = "Muhammed", student_number = "401")

{'name': 'Muhammed', 'student_number': '401'}
name
student_number

# Using args and Kwargs together
## Kullanım sırası önemli oluyor

In [47]:
def weird(**kwargs,args):
    res = 0
    for e in args:
        res+=e
        
    for k,v in kwargs.items():
        print(k,":",v)
    return res

SyntaxError: invalid syntax (884884346.py, line 1)

In [66]:
def weird(*args,**kwargs):
    res = 0
    for e in args:
        res+=e
        
    for k,v in kwargs.items():
        print(k,":",v)
    return res

In [71]:
#key:value değerleri otomatik olarak kwargs, olmayanları otomatik olarak args olarak algılıyor
weird(1,2,3,name = "Jake", student_number = 401)

name : Jake
student_number : 401

6

In [72]:
weird(1,2,3,4,5,6, name = "Jake", student_number = "401")

name : Jake
student_number : 401

21

In [73]:
weird(1,2,3,4,5,6, name = "Jake", student_number = "401", age = 45)

name : Jake
student_number : 401
age : 45

21

# Unpacking

In [74]:
l = [1,2,3,4]

In [75]:
l

[1, 2, 3, 4]

In [76]:
print(*l)

1 2 3 4

In [77]:
l1 = [1,2,3,4]

In [78]:
l2 = [20,21]

In [79]:
merged_l = [*l1, *l2]  # şu anlama geliyor merged_l = 1,2,3,4,20,21

In [80]:
merged_l

[1, 2, 3, 4, 20, 21]

In [83]:
[l1,l2] # Böyle yazınca iki farklı listeyi unpacklemeden tek eleman olarak topluyor

[[1, 2, 3, 4], [20, 21]]

In [84]:
d1 = {"name":"Jake", "number":402}

In [85]:
d2 = {"last_name":"sky", "Grade":"74"}

In [87]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [88]:
d_merged = {**d1,**d2}

In [89]:
d_merged

{'name': 'Jake', 'number': 402, 'last_name': 'sky', 'Grade': '74'}

In [91]:
de_merged = **d1,**d2 #Süslü parantezi unutma

SyntaxError: invalid syntax (3049033686.py, line 1)

In [99]:
d1 = {"name": "Jake", "number": 402}
d2 = {"name": "Sky", "grade" : "72"}

In [100]:
d_merged = { **d1, **d2}

In [102]:
d_merged #İki tane name keywordu olmasına ragmen en güncel olanı almış gibi

{'name': 'Sky', 'number': 402, 'grade': '72'}

In [104]:
d1 = {"name": "Jake", "number": 402}
d2 = {"name": "Sky", "grade" : "72"}
d3 = {"name": "Bane", "grade" : "72"}

In [105]:
de_merged_3 = {**d1,**d2,**d3}

In [106]:
de_merged_3

{'name': 'Bane', 'number': 402, 'grade': '72'}

In [107]:
str_list = [*"hey this is a string"]

In [108]:
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [109]:
str_list = [*"hey"]

In [110]:
str_list

['h', 'e', 'y']