# Enumerate and Zip

In [13]:
 l = [(1,2), (10,20)]

In [14]:
l_flattened = [e for i in l for e in i ]

In [15]:
l_flattened

[1, 2, 10, 20]

In [17]:
l_flattened_tuple = tuple(l_flattened)

In [19]:
l_flattened_tuple

(1, 2, 10, 20)

In [25]:
 l = [(1,2), (10,20)]

In [21]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [22]:
type(e)

tuple

In [31]:
for e in l:
    a, b = e
    print(a, b)
    print("----------")

1 2
----------
10 20
----------

In [33]:
for a,b in l:
    print("tuple'ın ilk elemanı:", a )
    print("tuple'ın ikinci elemanı:", b)
    print("-------")

tuple'ın ilk elemanı: 1
tuple'ın ikinci elemanı: 2
-------
tuple'ın ilk elemanı: 10
tuple'ın ikinci elemanı: 20
-------

# enumerate() 
## bize index ve elemanı verecek

In [46]:
adlar = ['Tyler', 'Blake', 'Cory', 'Cameron']

In [45]:
for i,e in enumerate(adlar):
    print(f"{i} indexindeki eleman : {e}")

0 indexindeki eleman : Tyler
1 indexindeki eleman : Blake
2 indexindeki eleman : Cory
3 indexindeki eleman : Cameron

In [38]:
t  = 0
for e in adlar:
    print(t, "indexindeki eleman:", e)
    t+=1

0 indexindeki eleman: Tyler
1 indexindeki eleman: Blake
2 indexindeki eleman: Cory
3 indexindeki eleman: Cameron

In [39]:
#enumerate 0 dan başlamak zorunda değil istediğimiz yerden başlatabiliriz

In [42]:
for i,e in enumerate(adlar, start=1):
    print(i,e)

1 Tyler
2 Blake
3 Cory
4 Cameron

# zip()
## Farklı elemanları paralel iterasyon yapmamızı sağlar

In [53]:
adlar = ['Tyler', 'Blake', 'Cory']

In [54]:
notlar = [90,80,72]

In [55]:
for i in range(len(adlar)):
    print(adlar[i], notlar[i])

Tyler 90
Blake 80
Cory 72

In [56]:
for s,g in zip(adlar, notlar):
    print(s,g)

Tyler 90
Blake 80
Cory 72

# zip() örnek

In [58]:
satis = [3500.00, 76300.00, 67200.00]

In [59]:
maliyet = [56700.00, 21900.00, 12100.00]

In [61]:
for i in range(len(satis)):
    s = satis[i]
    m = maliyet[i]
    kar = s - m
    print('Total profit:',kar)

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

In [63]:
for s,m in zip(satis, maliyet):
    kar = s - m
    print(kar)

-53200.0
54400.0
55100.0

# zip() ile dictionary yaratma

In [64]:
keys = ['isim', 'soyad', 'ulke', 'is']
values = ['Denis', 'Walker', 'Turkey', 'data scientist']

In [65]:
d = {}

In [67]:
for k,v in zip(keys, values):
    d[k]=v

In [68]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}

In [69]:
for i in range(len(keys)):
    k = keys[i]
    v = values[i]
    d[k] = v
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}