In [22]:
count=0
for i in [2,4,6,7,9,10]:
    for j in [5,6,7,8,9]:
        print(i,j)
        count+=1
print(f"The number of combinations are {count}")

2 5
2 6
2 7
2 8
2 9
4 5
4 6
4 7
4 8
4 9
6 5
6 6
6 7
6 8
6 9
7 5
7 6
7 7
7 8
7 9
9 5
9 6
9 7
9 8
9 9
10 5
10 6
10 7
10 8
10 9
The number of combinations are 30

In [7]:
range(5)

range(0, 5)

In [9]:
type(range(5))

range

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
range(100)

range(0, 100)

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
string=("Hi, i am Muhammed")
len(string)
for position in range(len(string)):
    print(position, string[position])

0 H
1 i
2 ,
3
4 i
5
6 a
7 m
8
9 M
10 u
11 h
12 a
13 m
14 m
15 e
16 d

In [32]:
string=("Hi, i am Muhammed")
len(string)
for position in range(len(string)):
    if string[position]== "a":
        print(position, string[position])

6 a
12 a

In [37]:
for num in range(5,20):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [46]:
for num2 in range(20):
    print(num2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [47]:
#range(a,b) gives you number from a to b-1

In [50]:
for i in range(0,100,7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [51]:
range(10)

range(0, 10)

In [52]:
print(range(10))

range(0, 10)

In [53]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [55]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
names=["Muhammed", "Bushra", "Kaya"]
grades=[9, 8, 7]
surnames=["A","B", "C"]

In [61]:
#zip function we use for parallel pairing
for n, g, s in zip(names, grades, surnames):
    print(f"{n} {s} get {g}")

Muhammed A get 9
Bushra B get 8
Kaya C get 7

In [63]:
names=["Muhammed", "Bushra", "Kaya"]
grades=[9.4, 8.7, 7.3]
surnames=["A","B", "C"]

for p in map(int, grades):
    print(p)

9
8
7

In [64]:
for i,n in enumerate(names):
    print(i, n)

0 Muhammed
1 Bushra
2 Kaya

In [89]:
for i, n in enumerate(names):
    print(i, n)
    if i > 20:
        break
    if "m" in n:
        break
    print(i, n )

0 Muhammed

In [71]:
for n in enumerate(names):
    print(n)

(0, 'Muhammed')
(1, 'Bushra')
(2, 'Kaya')

In [90]:
for i in reversed(names):
    print(i)

Kaya
Bushra
Muhammed