In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\apps\\opt\\spark-3.3.2-bin-hadoop3'

In [3]:
spark = SparkSession.builder.master("local[*]").appName("Learning").getOrCreate()

In [4]:
spark

In [5]:
#write a few RDD's

In [6]:
sc = spark.sparkContext

In [7]:
sc

In [8]:
data = sc.parallelize(['Muhammed', 'Kaya',180, 'Hayat'])

In [9]:
data.count()

4

In [10]:
data.take(2)

['Muhammed', 'Kaya']

In [11]:
data.take(3)

['Muhammed', 'Kaya', 180]

In [12]:
data.collect()

['Muhammed', 'Kaya', 180, 'Hayat']

In [13]:
myData = data.collect()

In [14]:
myData

['Muhammed', 'Kaya', 180, 'Hayat']

In [15]:
type(myData)

list

In [16]:
type(data)

pyspark.rdd.RDD

In [18]:
data.columns

AttributeError: 'RDD' object has no attribute 'columns'

In [19]:
data['University'] = "some_uni"

TypeError: 'RDD' object does not support item assignment

In [21]:
SparkSession.builder.master("local[*]").appName("Study").getOrCreate()

In [22]:
spark

In [24]:
# read our data - lives in a csv file

df = spark.read.option("header","true").csv("C:/Users/mkaya/Downloads/Sample - EU Superstore.csv")

In [25]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [28]:
type(df)

pyspark.sql.dataframe.DataFrame

In [31]:
df.printSchema()

# dates and measures are being interpreted as strings

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [34]:
# show

df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [35]:
df.show(1)

+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+-----+--------+--------+------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID| Customer Name|  Segment| City|  State|       Country|Region|     Product ID|       Category|Sub-Category|        Product Name|Sales|Quantity|Discount|Profit|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+-----+--------+--------+------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...| 79.2|       3|       0|  39.6|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+-----+--------+--------+------+
only showing top 1 row

In [36]:
# let's explore the type of data we dealing

type(df)

pyspark.sql.dataframe.DataFrame

In [38]:
#exactly same as pandas
df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [39]:
df.count()

10000

# Lazy and Non-lazy Operations

In [54]:
#lazy operation
#Bunda spark aslında datayı okumadan direk veriyor o yüzden de aşırı hızlı,
df.limit(5)

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [55]:
df.head(2)

[Row(Row ID='1', Order ID='ES-2018-1311038', Order Date='07/02/2018', Ship Date='11/02/2018', Ship Mode='Standard Class', Customer ID='AS-10045', Customer Name='Aaron Smayling', Segment='Corporate', City='Leeds', State='England', Country='United Kingdom', Region='North', Product ID='OFF-ST-10000988', Category='Office Supplies', Sub-Category='Storage', Product Name='Fellowes Folders, Blue', Sales='79.2', Quantity='3', Discount='0', Profit='39.6'),
 Row(Row ID='2', Order ID='ES-2018-1311038', Order Date='07/02/2018', Ship Date='11/02/2018', Ship Mode='Standard Class', Customer ID='AS-10045', Customer Name='Aaron Smayling', Segment='Corporate', City='Leeds', State='England', Country='United Kingdom', Region='North', Product ID='TEC-AC-10004144', Category='Technology', Sub-Category='Accessories', Product Name='SanDisk Numeric Keypad, Bluetooth', Sales='388.92', Quantity='7', Discount='0', Profit='0')]

In [57]:
#Burada biraz daha sürüyor, çünkü datayı okuyor
df.limit(2).show()

+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------+--------+--------+------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID| Customer Name|  Segment| City|  State|       Country|Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|Profit|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------+--------+--------+------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|  79.2|       3|       0|  39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|388.92|       7|       0|     0|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------+--------+--------+------+

In [60]:
#this operation allows me to see the schema but most importantly to operate it

df.schema

StructType(List(StructField(Row ID,StringType,true),StructField(Order ID,StringType,true),StructField(Order Date,StringType,true),StructField(Ship Date,StringType,true),StructField(Ship Mode,StringType,true),StructField(Customer ID,StringType,true),StructField(Customer Name,StringType,true),StructField(Segment,StringType,true),StructField(City,StringType,true),StructField(State,StringType,true),StructField(Country,StringType,true),StructField(Region,StringType,true),StructField(Product ID,StringType,true),StructField(Category,StringType,true),StructField(Sub-Category,StringType,true),StructField(Product Name,StringType,true),StructField(Sales,StringType,true),StructField(Quantity,StringType,true),StructField(Discount,StringType,true),StructField(Profit,StringType,true)))

In [59]:
type(df.schema)

pyspark.sql.types.StructType

In [61]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [62]:
type(df.printSchema())

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

NoneType

In [67]:
# generic pyspark cleaning operations

#we want to drop all null rows

# I like to constantly redefine my operations with these operations

df.dropna() #another lazy operation

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [66]:
df.dropna().show() # not a lazy operation

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [68]:
df = df.dropna()

In [69]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [70]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [71]:
df.count()

10000

In [72]:
# sometimes we have too many columns -> we need to drop some columns

df.drop("Segment")

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [76]:
#Segment is still there

df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [78]:
# let's try this

df.drop("Segment").printSchema() # We don't have segment, but just for now

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [82]:
#Segment is still there
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [83]:
df = df.drop("Segment")

In [85]:
df.printSchema() #Segment is not here anymore

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [86]:
# when i am not fundementally changing the shape of df i keep writing on top of the same variable

# What if we want to drop multiple columns

In [95]:
df.drop(["Order ID", "Order Date"]) # This won't work on pyspark

TypeError: col should be a string or a Column

In [96]:
drop_cols = ("Order ID", "Order Date")

In [97]:
df.drop(*drop_cols).printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [98]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [ ]:
df = spark.read.option("header", "true").csv("blablabla/blabla/bla.csv")

In [100]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [103]:
# in order to get only a column we use select method

df.select("Country") #lazy operation

DataFrame[Country: string]

In [106]:
df.select("Country").show()

+--------------+
|       Country|
+--------------+
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|       Germany|
|       Germany|
+--------------+
only showing top 20 rows

In [108]:
#in pyspark sql capitalizing letters doesn't matter
df.select("country").show()

+--------------+
|       country|
+--------------+
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|       Germany|
|       Germany|
+--------------+
only showing top 20 rows

In [109]:
df.select("country", "city", "customer name")

DataFrame[country: string, city: string, customer name: string]

In [110]:
df.select("Country", "City", "Customer Name").show()

+--------------+-------------+----------------+
|       Country|         City|   Customer Name|
+--------------+-------------+----------------+
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|West Bromwich|   Ellis Ballard|
|United Kingdom|West Bromwich|   Ellis Ballard|
|United Kingdom|West Bromwich|   Ellis Ballard|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Strasbourg| Kelly Collister|
|        France|   Strasbourg| Kelly Collister|
|        France|   Strasbourg| Kelly Collister|
|       Germany|         Unna|      Ben Ferrer|
|       Germany|         Unna|      Ben Ferrer|
+--------------+-------------+----------------+
only showing top 20 rows

In [111]:
df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [113]:
columns = df.columns

In [114]:
df.select(columns).show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [118]:
df.select(df.columns).show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [120]:
df.select(columns[:4]).show()

+------+---------------+----------+----------+
|Row ID|       Order ID|Order Date| Ship Date|
+------+---------------+----------+----------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|
+------+---------------+----------+----------+
only showing top 20 rows

In [121]:
#list comprehension - generating a list on the fly withina loop

[col for col in columns]

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [122]:
[col for col in columns if "Date" in col]

['Order Date', 'Ship Date']

In [137]:
df.select([col for col in columns if 'Name' in col]).show()

+----------------+--------------------+
|   Customer Name|        Product Name|
+----------------+--------------------+
|  Aaron Smayling|Fellowes Folders,...|
|  Aaron Smayling|SanDisk Numeric K...|
|  Aaron Smayling|Avery Legal Exhib...|
|  Aaron Smayling|Fellowes Folders,...|
|  Aaron Smayling|Memorex Memory Ca...|
|  Aaron Smayling|Rogers Shelving, ...|
|  Aaron Smayling|Apple Signal Boos...|
|   Ellis Ballard|Canon Personal Co...|
|   Ellis Ballard|   Hoover Stove, Red|
|   Ellis Ballard|Accos Push Pins, ...|
|Logan Haushalter|Hon Color Coded L...|
|Logan Haushalter|Hamilton Beach St...|
|Logan Haushalter|Binney & Smith Pe...|
|Logan Haushalter|Samsung Smart Pho...|
|Logan Haushalter|Rogers Folders, Blue|
| Kelly Collister|Smead Trays, Wire...|
| Kelly Collister|Belkin Memory Car...|
| Kelly Collister|Hon Removable Lab...|
|      Ben Ferrer|Okidata Phone, Du...|
|      Ben Ferrer|Eldon File Cart, ...|
+----------------+--------------------+
only showing top 20 rows

In [135]:
# we can also use Regex

df.select("*").show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [136]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [138]:
# we want to get the unique values of a column

In [140]:
#lazy operation
df.select("Country").distinct()

DataFrame[Country: string]

In [143]:
#non-lazy operation
df.select("Country").distinct().show()

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|       Belgium|
|       Finland|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|   Switzerland|
|      Portugal|
|       Austria|
|United Kingdom|
|   Netherlands|
+--------------+

In [152]:
unique_countries = df.select("Country").distinct().show()

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|       Belgium|
|       Finland|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|   Switzerland|
|      Portugal|
|       Austria|
|United Kingdom|
|   Netherlands|
+--------------+

In [154]:
#show() is like print and returns None values
unique_countries

In [155]:
unique_countries = df.select("Country").distinct()

In [156]:
unique_countries

DataFrame[Country: string]

In [157]:
unique_countries.show()

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|       Belgium|
|       Finland|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|   Switzerland|
|      Portugal|
|       Austria|
|United Kingdom|
|   Netherlands|
+--------------+

In [158]:
type(unique_countries)

pyspark.sql.dataframe.DataFrame

In [159]:
unique_countries.count()

15

In [160]:
type(unique_countries.count())

int

In [296]:
# unique number of Segment
df = spark.read.option("header","true").csv("C:/Users/mkaya/Downloads/Sample - EU Superstore.csv")
df.select("Segment").distinct().count()

3

In [166]:
# how can we apply filtering conditions on our spark df

df["Country"] == "Portugal"

Column<'(Country = Portugal)'>

In [175]:
df.select(df["Country"] == "Portugal").show()

+--------------------+
|(Country = Portugal)|
+--------------------+
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
|               false|
+--------------------+
only showing top 20 rows

In [168]:
df.filter(df["Country"] == "Portugal").show()

+------+---------------+----------+----------+--------------+-----------+-------------------+---------+--------+------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|      Customer Name|  Segment|    City| State| Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+-------------------+---------+--------+------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|   164|IT-2017-3695467|10/06/2017|14/06/2017|Standard Class|   SS-20140|   Saphhira Shifley|Corporate|  Lisbon|Lisboa|Portugal| South|OFF-AP-10001623|Office Supplies|  Appliances| Hoover Stove, White|3399.66|      12|     0.5|-3059.82|
|   346|IT-2018-5630655|27/08/2018|03/09/2018|Standard Class|   ZC-21910|   Zuschuss Carroll| Consumer|  Lisbon|Lisboa|Portugal| South|OFF-PA-10001971|Office Supplies|       Paper|Eaton Memo Slips,...|  34.35|       5|     0.5|   -11.1|
|   644|IT-2017-4007264|12/10/2017|16/10/2017|Standard Class|   JM-16195| Justin MacKendrick| Consumer|   Porto| Porto|Portugal| South|OFF-BI-10003650|Office Supplies|     Binders|Ibico Index Tab, ...|  17.82|       4|     0.5|  -11.46|
|   666|IT-2016-2967452|22/08/2016|29/08/2016|Standard Class|   MW-18235|   Mitch Willingham|Corporate|   Porto| Porto|Portugal| South|OFF-ST-10002539|Office Supplies|     Storage|Fellowes Shelving...| 86.805|       3|     0.5| -41.715|
|   667|IT-2016-2967452|22/08/2016|29/08/2016|Standard Class|   MW-18235|   Mitch Willingham|Corporate|   Porto| Porto|Portugal| South|TEC-CO-10002962|     Technology|     Copiers|Sharp Wireless Fa...| 178.68|       1|     0.5|  -60.78|
|   873|IT-2018-2208571|26/12/2018|28/12/2018|   First Class|   MS-17365|Maribeth Schnelling| Consumer|  Lisbon|Lisboa|Portugal| South|OFF-BI-10000171|Office Supplies|     Binders|Wilson Jones Inde...|  20.43|       6|     0.5|   -9.09|
|   874|IT-2018-2208571|26/12/2018|28/12/2018|   First Class|   MS-17365|Maribeth Schnelling| Consumer|  Lisbon|Lisboa|Portugal| South|TEC-CO-10002232|     Technology|     Copiers|       HP Ink, Laser| 321.75|       5|     0.5| -193.05|
|  1188|IT-2016-2565333|07/03/2016|12/03/2016|  Second Class|   FA-14230|     Frank Atkinson|Corporate|Odivelas|Lisboa|Portugal| South|OFF-AR-10002094|Office Supplies|         Art|Boston Pencil Sha...|  29.22|       2|     0.5|  -21.66|
|  1692|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|          Ann Blume|Corporate| Amadora|Lisboa|Portugal| South|FUR-BO-10002892|      Furniture|   Bookcases|Safco Classic Boo...|1322.01|       6|     0.5| -317.43|
|  1693|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|          Ann Blume|Corporate| Amadora|Lisboa|Portugal| South|TEC-PH-10000037|     Technology|      Phones|Cisco Signal Boos...|  773.4|      10|     0.5|  -680.7|
|  1694|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|          Ann Blume|Corporate| Amadora|Lisboa|Portugal| South|FUR-FU-10000913|      Furniture| Furnishings|Rubbermaid Door S...|142.905|       7|     0.5|-105.945|
|  2486|IT-2016-1941104|12/06/2016|16/06/2016|Standard Class|   PK-19075|          Pete Kriz| Consumer|   Feira|Aveiro|Portugal| South|TEC-PH-10003153|     Technology|      Phones|Samsung Signal Bo...|341.475|       5|     0.5|-341.475|
|  2744|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|OFF-AR-10002805|Office Supplies|         Art|Boston Sketch Pad...|  121.5|       5|     0.5|   -17.1|
|  2745|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|FUR-FU-10003069|      Furniture| Furnishings|Deflect-O Photo F...|122.325|       5|     0.5| -88.125|
|  2746|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|FUR-BO-10001039|      Furniture|   Bookcases|Dania Classic Boo...| 410.76|       2|     0.5|  -57.54|
|  2747|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|FUR-FU-10003540|      Furniture| Furnishings|Deflect-O Stackin...| 59.775|       5|     0.5| -26.325|
|  2748|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|OFF-AR-10002156|Office Supplies|         Art|Stanley Highlight...|  36.75|       5|     0.5|  -22.05|
|  2749|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|OFF-AP-10001178|Office Supplies|  Appliances|KitchenAid Stove,...|855.225|       3|     0.5|-376.335|
|  2750|IT-2015-2421873|14/12/2015|19/12/2015|Standard Class|   LH-17155|   Logan Haushalter| Consumer| Amadora|Lisboa|Portugal| South|OFF-BI-10000171|Office Supplies|     Binders|Wilson Jones Inde...|   6.81|       2|     0.5|   -3.03|
|  2760|IT-2017-3432584|10/12/2017|15/12/2017|Standard Class|   MY-17380|    Maribeth Yedwab|Corporate|  Lisbon|Lisboa|Portugal| South|OFF-AP-10001882|Office Supplies|  Appliances|Breville Coffee G...| 93.915|       3|     0.5| -18.855|
+------+---------------+----------+----------+--------------+-----------+-------------------+---------+--------+------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [176]:
df.filter(df["Country"] == "Portugal").count()

70

# filtering options

In [182]:
# isin and filter

df["Country"].isin(["Portugal", "Spain"])

df.filter(df["Country"].isin(["Portugal", "Spain"])).show()

+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|         City|            State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|    32|ES-2015-2801336|02/06/2015|06/06/2015|Standard Class|   DB-13270|Deborah Brumfield|Home Office|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10002225|Office Supplies|     Binders|Cardinal Binding ...| 102.54|       2|       0|   35.88|
|    35|ES-2017-4020783|25/11/2017|27/11/2017|  Second Class|   PN-18775|   Parhena Norris|Home Office|  Puertollano|Castile-La Mancha|  Spain| South|OFF-AR-10001228|Office Supplies|         Art|Stanley Markers, ...|  76.14|       3|       0|   25.11|
|    55|ES-2018-1324878|03/07/2018|08/07/2018|Standard Class|   RR-19315|     Ralph Ritter|   Consumer|       Murcia|           Murcia|  Spain| South|FUR-BO-10003007|      Furniture|   Bookcases|Ikea Stackable Bo...| 854.28|       7|       0|  196.35|
|    58|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|OFF-AR-10001230|Office Supplies|         Art|Binney & Smith Ma...| 190.89|       7|       0|   32.34|
|    59|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|FUR-TA-10004544|      Furniture|      Tables|Chromcraft Coffee...|214.848|       2|     0.6|-247.092|
|    79|ES-2018-3249626|10/07/2018|14/07/2018|Standard Class|   SV-20935|  Susan Vittorini|   Consumer|     Sabadell|        Catalonia|  Spain| South|OFF-SU-10004299|Office Supplies|    Supplies|Stiletto Trimmer,...|   85.5|       2|       0|   18.78|
|   101|ES-2016-1530191|14/11/2016|16/11/2016|   First Class|   PB-18805|  Patrick Bzostek|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10004903|Office Supplies|     Binders|Ibico Hole Reinfo...|  25.47|       3|       0|    7.11|
|   102|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-AR-10004519|Office Supplies|         Art|Boston Canvas, Fl...|  164.7|       3|       0|   29.61|
|   103|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10001685|Office Supplies|     Binders|Avery Index Tab, ...|  20.07|       3|       0|    5.13|
|   108|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-ST-10002608|Office Supplies|     Storage|Eldon Box, Indust...| 38.664|       4|     0.1|  11.544|
|   109|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-BO-10004053|      Furniture|   Bookcases|Dania Library wit...| 723.72|       2|       0|  253.26|
|   110|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-CH-10004462|      Furniture|      Chairs|Hon Executive Lea...|1838.52|       5|     0.2|  160.77|
|   147|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|  26.46|       2|       0|    8.46|
|   148|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AP-10003590|Office Supplies|  Appliances|KitchenAid Refrig...|2636.85|       5|       0|   949.2|
|   149|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10001661|Office Supplies|       Paper|SanDisk Computer ...| 135.72|       4|       0|   14.88|
|   150|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10002524|Office Supplies|       Paper|Enermax Note Card...| 227.28|       8|       0|   95.28|
|   151|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|FUR-BO-10002926|      Furniture|   Bookcases|Bush Stackable Bo...| 370.53|       3|       0|   40.68|
|   152|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10000179|Office Supplies|     Binders|Wilson Jones 3-Ho...|  83.97|       3|       0|   27.63|
|   153|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|TEC-CO-10001926|     Technology|     Copiers|Hewlett Wireless ...| 760.38|       2|       0|  235.68|
|   154|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10002128|Office Supplies|     Binders|Acco Binder Cover...|  44.46|       3|       0|   19.98|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [188]:
iberia_df = df.filter(df["Country"].isin(["Portugal", "Spain"]))

In [191]:
iberia_df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [192]:
iberia_df.show()

+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|         City|            State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|    32|ES-2015-2801336|02/06/2015|06/06/2015|Standard Class|   DB-13270|Deborah Brumfield|Home Office|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10002225|Office Supplies|     Binders|Cardinal Binding ...| 102.54|       2|       0|   35.88|
|    35|ES-2017-4020783|25/11/2017|27/11/2017|  Second Class|   PN-18775|   Parhena Norris|Home Office|  Puertollano|Castile-La Mancha|  Spain| South|OFF-AR-10001228|Office Supplies|         Art|Stanley Markers, ...|  76.14|       3|       0|   25.11|
|    55|ES-2018-1324878|03/07/2018|08/07/2018|Standard Class|   RR-19315|     Ralph Ritter|   Consumer|       Murcia|           Murcia|  Spain| South|FUR-BO-10003007|      Furniture|   Bookcases|Ikea Stackable Bo...| 854.28|       7|       0|  196.35|
|    58|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|OFF-AR-10001230|Office Supplies|         Art|Binney & Smith Ma...| 190.89|       7|       0|   32.34|
|    59|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|FUR-TA-10004544|      Furniture|      Tables|Chromcraft Coffee...|214.848|       2|     0.6|-247.092|
|    79|ES-2018-3249626|10/07/2018|14/07/2018|Standard Class|   SV-20935|  Susan Vittorini|   Consumer|     Sabadell|        Catalonia|  Spain| South|OFF-SU-10004299|Office Supplies|    Supplies|Stiletto Trimmer,...|   85.5|       2|       0|   18.78|
|   101|ES-2016-1530191|14/11/2016|16/11/2016|   First Class|   PB-18805|  Patrick Bzostek|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10004903|Office Supplies|     Binders|Ibico Hole Reinfo...|  25.47|       3|       0|    7.11|
|   102|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-AR-10004519|Office Supplies|         Art|Boston Canvas, Fl...|  164.7|       3|       0|   29.61|
|   103|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10001685|Office Supplies|     Binders|Avery Index Tab, ...|  20.07|       3|       0|    5.13|
|   108|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-ST-10002608|Office Supplies|     Storage|Eldon Box, Indust...| 38.664|       4|     0.1|  11.544|
|   109|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-BO-10004053|      Furniture|   Bookcases|Dania Library wit...| 723.72|       2|       0|  253.26|
|   110|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-CH-10004462|      Furniture|      Chairs|Hon Executive Lea...|1838.52|       5|     0.2|  160.77|
|   147|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|  26.46|       2|       0|    8.46|
|   148|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AP-10003590|Office Supplies|  Appliances|KitchenAid Refrig...|2636.85|       5|       0|   949.2|
|   149|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10001661|Office Supplies|       Paper|SanDisk Computer ...| 135.72|       4|       0|   14.88|
|   150|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10002524|Office Supplies|       Paper|Enermax Note Card...| 227.28|       8|       0|   95.28|
|   151|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|FUR-BO-10002926|      Furniture|   Bookcases|Bush Stackable Bo...| 370.53|       3|       0|   40.68|
|   152|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10000179|Office Supplies|     Binders|Wilson Jones 3-Ho...|  83.97|       3|       0|   27.63|
|   153|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|TEC-CO-10001926|     Technology|     Copiers|Hewlett Wireless ...| 760.38|       2|       0|  235.68|
|   154|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10002128|Office Supplies|     Binders|Acco Binder Cover...|  44.46|       3|       0|   19.98|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [194]:
iberia_df.count()

929

# and , or conditions

In [209]:
(df["Country"] == "Portugal")
(df["Country"] == "Spain")
df.filter((df["Country"] == "Portugal") | (df["Country"] == "Spain")).show()

+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|         City|            State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|    32|ES-2015-2801336|02/06/2015|06/06/2015|Standard Class|   DB-13270|Deborah Brumfield|Home Office|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10002225|Office Supplies|     Binders|Cardinal Binding ...| 102.54|       2|       0|   35.88|
|    35|ES-2017-4020783|25/11/2017|27/11/2017|  Second Class|   PN-18775|   Parhena Norris|Home Office|  Puertollano|Castile-La Mancha|  Spain| South|OFF-AR-10001228|Office Supplies|         Art|Stanley Markers, ...|  76.14|       3|       0|   25.11|
|    55|ES-2018-1324878|03/07/2018|08/07/2018|Standard Class|   RR-19315|     Ralph Ritter|   Consumer|       Murcia|           Murcia|  Spain| South|FUR-BO-10003007|      Furniture|   Bookcases|Ikea Stackable Bo...| 854.28|       7|       0|  196.35|
|    58|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|OFF-AR-10001230|Office Supplies|         Art|Binney & Smith Ma...| 190.89|       7|       0|   32.34|
|    59|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|FUR-TA-10004544|      Furniture|      Tables|Chromcraft Coffee...|214.848|       2|     0.6|-247.092|
|    79|ES-2018-3249626|10/07/2018|14/07/2018|Standard Class|   SV-20935|  Susan Vittorini|   Consumer|     Sabadell|        Catalonia|  Spain| South|OFF-SU-10004299|Office Supplies|    Supplies|Stiletto Trimmer,...|   85.5|       2|       0|   18.78|
|   101|ES-2016-1530191|14/11/2016|16/11/2016|   First Class|   PB-18805|  Patrick Bzostek|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10004903|Office Supplies|     Binders|Ibico Hole Reinfo...|  25.47|       3|       0|    7.11|
|   102|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-AR-10004519|Office Supplies|         Art|Boston Canvas, Fl...|  164.7|       3|       0|   29.61|
|   103|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10001685|Office Supplies|     Binders|Avery Index Tab, ...|  20.07|       3|       0|    5.13|
|   108|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-ST-10002608|Office Supplies|     Storage|Eldon Box, Indust...| 38.664|       4|     0.1|  11.544|
|   109|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-BO-10004053|      Furniture|   Bookcases|Dania Library wit...| 723.72|       2|       0|  253.26|
|   110|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-CH-10004462|      Furniture|      Chairs|Hon Executive Lea...|1838.52|       5|     0.2|  160.77|
|   147|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|  26.46|       2|       0|    8.46|
|   148|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AP-10003590|Office Supplies|  Appliances|KitchenAid Refrig...|2636.85|       5|       0|   949.2|
|   149|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10001661|Office Supplies|       Paper|SanDisk Computer ...| 135.72|       4|       0|   14.88|
|   150|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10002524|Office Supplies|       Paper|Enermax Note Card...| 227.28|       8|       0|   95.28|
|   151|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|FUR-BO-10002926|      Furniture|   Bookcases|Bush Stackable Bo...| 370.53|       3|       0|   40.68|
|   152|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10000179|Office Supplies|     Binders|Wilson Jones 3-Ho...|  83.97|       3|       0|   27.63|
|   153|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|TEC-CO-10001926|     Technology|     Copiers|Hewlett Wireless ...| 760.38|       2|       0|  235.68|
|   154|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10002128|Office Supplies|     Binders|Acco Binder Cover...|  44.46|       3|       0|   19.98|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [210]:
df.filter((df["Country"] == "Portugal")  & (df["Country"] == "Spain")).show()

+------+--------+----------+---------+---------+-----------+-------------+-------+----+-----+-------+------+----------+--------+------------+------------+-----+--------+--------+------+
|Row ID|Order ID|Order Date|Ship Date|Ship Mode|Customer ID|Customer Name|Segment|City|State|Country|Region|Product ID|Category|Sub-Category|Product Name|Sales|Quantity|Discount|Profit|
+------+--------+----------+---------+---------+-----------+-------------+-------+----+-----+-------+------+----------+--------+------------+------------+-----+--------+--------+------+
+------+--------+----------+---------+---------+-----------+-------------+-------+----+-----+-------+------+----------+--------+------------+------------+-----+--------+--------+------+

In [230]:
# When we filter by only one column, isin works pretty well.

df.filter(df["Country"].isin(["Portugal", "Spain"])).show()

+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|         City|            State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|    32|ES-2015-2801336|02/06/2015|06/06/2015|Standard Class|   DB-13270|Deborah Brumfield|Home Office|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10002225|Office Supplies|     Binders|Cardinal Binding ...| 102.54|       2|       0|   35.88|
|    35|ES-2017-4020783|25/11/2017|27/11/2017|  Second Class|   PN-18775|   Parhena Norris|Home Office|  Puertollano|Castile-La Mancha|  Spain| South|OFF-AR-10001228|Office Supplies|         Art|Stanley Markers, ...|  76.14|       3|       0|   25.11|
|    55|ES-2018-1324878|03/07/2018|08/07/2018|Standard Class|   RR-19315|     Ralph Ritter|   Consumer|       Murcia|           Murcia|  Spain| South|FUR-BO-10003007|      Furniture|   Bookcases|Ikea Stackable Bo...| 854.28|       7|       0|  196.35|
|    58|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|OFF-AR-10001230|Office Supplies|         Art|Binney & Smith Ma...| 190.89|       7|       0|   32.34|
|    59|ES-2017-4122424|17/07/2017|20/07/2017|   First Class|   BE-11335|      Bill Eplett|Home Office|       Madrid|           Madrid|  Spain| South|FUR-TA-10004544|      Furniture|      Tables|Chromcraft Coffee...|214.848|       2|     0.6|-247.092|
|    79|ES-2018-3249626|10/07/2018|14/07/2018|Standard Class|   SV-20935|  Susan Vittorini|   Consumer|     Sabadell|        Catalonia|  Spain| South|OFF-SU-10004299|Office Supplies|    Supplies|Stiletto Trimmer,...|   85.5|       2|       0|   18.78|
|   101|ES-2016-1530191|14/11/2016|16/11/2016|   First Class|   PB-18805|  Patrick Bzostek|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10004903|Office Supplies|     Binders|Ibico Hole Reinfo...|  25.47|       3|       0|    7.11|
|   102|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-AR-10004519|Office Supplies|         Art|Boston Canvas, Fl...|  164.7|       3|       0|   29.61|
|   103|ES-2017-3971877|30/05/2017|02/06/2017|  Second Class|   KT-16465|    Kean Takahito|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-BI-10001685|Office Supplies|     Binders|Avery Index Tab, ...|  20.07|       3|       0|    5.13|
|   108|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|OFF-ST-10002608|Office Supplies|     Storage|Eldon Box, Indust...| 38.664|       4|     0.1|  11.544|
|   109|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-BO-10004053|      Furniture|   Bookcases|Dania Library wit...| 723.72|       2|       0|  253.26|
|   110|ES-2015-3805636|18/10/2015|25/10/2015|Standard Class|   GT-14710|        Greg Tran|   Consumer|    Barcelona|        Catalonia|  Spain| South|FUR-CH-10004462|      Furniture|      Chairs|Hon Executive Lea...|1838.52|       5|     0.2|  160.77|
|   147|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|  26.46|       2|       0|    8.46|
|   148|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-AP-10003590|Office Supplies|  Appliances|KitchenAid Refrig...|2636.85|       5|       0|   949.2|
|   149|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10001661|Office Supplies|       Paper|SanDisk Computer ...| 135.72|       4|       0|   14.88|
|   150|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|OFF-PA-10002524|Office Supplies|       Paper|Enermax Note Card...| 227.28|       8|       0|   95.28|
|   151|ES-2017-1621921|02/04/2017|03/04/2017|   First Class|   CM-11830|   Cari MacIntyre|  Corporate|Castelldefels|        Catalonia|  Spain| South|FUR-BO-10002926|      Furniture|   Bookcases|Bush Stackable Bo...| 370.53|       3|       0|   40.68|
|   152|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10000179|Office Supplies|     Binders|Wilson Jones 3-Ho...|  83.97|       3|       0|   27.63|
|   153|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|TEC-CO-10001926|     Technology|     Copiers|Hewlett Wireless ...| 760.38|       2|       0|  235.68|
|   154|ES-2017-2926991|14/06/2017|21/06/2017|Standard Class|   SR-20740|    Steven Roelle|Home Office|       Madrid|           Madrid|  Spain| South|OFF-BI-10002128|Office Supplies|     Binders|Acco Binder Cover...|  44.46|       3|       0|   19.98|
+------+---------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-----------------+-------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [231]:
df.filter(df["Country"].isin(["Portugal", "Spain"])).count()

929

In [232]:
#But when we work on multiple columns, we should express them all individually

df.filter((df["Segment"] == "Corporate") & (df["Country"] == "Portugal")).show()

+------+---------------+----------+----------+--------------+-----------+----------------+---------+--------+-------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|  Segment|    City|  State| Country|Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+--------+-------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|   164|IT-2017-3695467|10/06/2017|14/06/2017|Standard Class|   SS-20140|Saphhira Shifley|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-AP-10001623|Office Supplies|  Appliances| Hoover Stove, White|3399.66|      12|     0.5|-3059.82|
|   666|IT-2016-2967452|22/08/2016|29/08/2016|Standard Class|   MW-18235|Mitch Willingham|Corporate|   Porto|  Porto|Portugal| South|OFF-ST-10002539|Office Supplies|     Storage|Fellowes Shelving...| 86.805|       3|     0.5| -41.715|
|   667|IT-2016-2967452|22/08/2016|29/08/2016|Standard Class|   MW-18235|Mitch Willingham|Corporate|   Porto|  Porto|Portugal| South|TEC-CO-10002962|     Technology|     Copiers|Sharp Wireless Fa...| 178.68|       1|     0.5|  -60.78|
|  1188|IT-2016-2565333|07/03/2016|12/03/2016|  Second Class|   FA-14230|  Frank Atkinson|Corporate|Odivelas| Lisboa|Portugal| South|OFF-AR-10002094|Office Supplies|         Art|Boston Pencil Sha...|  29.22|       2|     0.5|  -21.66|
|  1692|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|       Ann Blume|Corporate| Amadora| Lisboa|Portugal| South|FUR-BO-10002892|      Furniture|   Bookcases|Safco Classic Boo...|1322.01|       6|     0.5| -317.43|
|  1693|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|       Ann Blume|Corporate| Amadora| Lisboa|Portugal| South|TEC-PH-10000037|     Technology|      Phones|Cisco Signal Boos...|  773.4|      10|     0.5|  -680.7|
|  1694|IT-2017-4281827|26/02/2017|01/03/2017|Standard Class|   AB-10600|       Ann Blume|Corporate| Amadora| Lisboa|Portugal| South|FUR-FU-10000913|      Furniture| Furnishings|Rubbermaid Door S...|142.905|       7|     0.5|-105.945|
|  2760|IT-2017-3432584|10/12/2017|15/12/2017|Standard Class|   MY-17380| Maribeth Yedwab|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-AP-10001882|Office Supplies|  Appliances|Breville Coffee G...| 93.915|       3|     0.5| -18.855|
|  3011|IT-2018-5319822|12/11/2018|16/11/2018|Standard Class|   LC-16930|  Linda Cazamias|Corporate|   Porto|  Porto|Portugal| South|TEC-AC-10002738|     Technology| Accessories|Belkin Memory Car...|174.465|       3|     0.5| -69.795|
|  3012|IT-2018-5319822|12/11/2018|16/11/2018|Standard Class|   LC-16930|  Linda Cazamias|Corporate|   Porto|  Porto|Portugal| South|OFF-BI-10000440|Office Supplies|     Binders|Acco Index Tab, E...|   25.2|       5|     0.5|    -2.1|
|  3218|IT-2016-5223020|26/11/2016|02/12/2016|Standard Class|   BB-11545|   Brenda Bowman|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-BI-10003397|Office Supplies|     Binders|Avery 3-Hole Punc...|  27.87|       2|     0.5|   -0.03|
|  3219|IT-2016-5223020|26/11/2016|02/12/2016|Standard Class|   BB-11545|   Brenda Bowman|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-BI-10001621|Office Supplies|     Binders|Cardinal Binding ...| 149.31|       6|     0.5|  -65.79|
|  3220|IT-2016-5223020|26/11/2016|02/12/2016|Standard Class|   BB-11545|   Brenda Bowman|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-EN-10001854|Office Supplies|   Envelopes|Jiffy Business En...|   45.9|       5|     0.5|   -29.4|
|  4634|IT-2018-2211383|30/04/2018|04/05/2018|Standard Class|   LW-16825|  Laurel Workman|Corporate|  Lisbon| Lisboa|Portugal| South|OFF-BI-10003281|Office Supplies|     Binders|Ibico Binder, Rec...|   39.6|       5|     0.5|   -33.3|
|  4728|IT-2015-1716540|10/04/2015|12/04/2015|  Second Class|   CS-12490|Cindy Schnelling|Corporate| Coimbra|Coimbra|Portugal| South|OFF-AR-10001599|Office Supplies|         Art|Binney & Smith Ca...| 205.44|       8|     0.5| -127.44|
|  4729|IT-2015-1716540|10/04/2015|12/04/2015|  Second Class|   CS-12490|Cindy Schnelling|Corporate| Coimbra|Coimbra|Portugal| South|OFF-EN-10002013|Office Supplies|   Envelopes|Cameo Business En...|  16.95|       2|     0.5|   -4.77|
|  5249|IT-2018-4365710|17/11/2018|21/11/2018|Standard Class|   NS-18640|    Noel Staavos|Corporate|   Braga|  Braga|Portugal| South|OFF-ST-10000872|Office Supplies|     Storage|Fellowes File Car...| 274.68|       4|     0.5| -274.68|
|  5933|IT-2015-4233239|26/01/2015|30/01/2015|Standard Class|   AR-10405|Allen Rosenblatt|Corporate|  Lisbon| Lisboa|Portugal| South|TEC-CO-10001926|     Technology|     Copiers|Hewlett Wireless ...|570.285|       3|     0.5|-216.765|
|  6820|IT-2015-5643162|10/05/2015|13/05/2015|   First Class|   KH-16690|Kristen Hastings|Corporate|   Porto|  Porto|Portugal| South|FUR-FU-10004095|      Furniture| Furnishings|Eldon Frame, Durable| 169.92|       3|     0.5|  -81.63|
|  9251|IT-2018-3830887|02/12/2018|09/12/2018|Standard Class|   AR-10345|    Alex Russell|Corporate| Amadora| Lisboa|Portugal| South|TEC-AC-10002670|     Technology| Accessories|Logitech Mouse, E...|121.905|       9|     0.5| -66.015|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+--------+-------+--------+------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [236]:
df.filter((df["Segment"] == "Corporate") & (df["Country"] == "Spain")).count()

269

In [237]:
type(df["Profit"])

pyspark.sql.column.Column

In [247]:
df.filter(df["Profit"] < 0).count()

1992

In [256]:
df.filter((df["Profit"] < 0) & ((df["Country"] == "Portugal") | (df["Country"] == "Spain"))).count()

151

In [257]:
df.filter((df["Profit"] < 0) & (df["Country"].isin("Portugal", "Spain"))).count()

151

# create new columns

In [263]:
#withColumn method declares a new column

df.withColumn("Cost", df["Sales"] - df["Profit"])

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double]

In [261]:
# cost is not here

df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [264]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [297]:
df = df.withColumn("Cost", df["Sales"] - df["Profit"])

In [268]:
df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Cost']

In [275]:
df["Cost"].show()

TypeError: 'Column' object is not callable

In [277]:
df.select("Cost").show()

+------------------+
|              Cost|
+------------------+
|              39.6|
|            388.92|
|             19.08|
|37.739999999999995|
|233.73000000000002|
|             84.48|
|            393.21|
|235.53000000000003|
|           1989.75|
|             30.96|
|             24.78|
|1683.6000000000004|
|             12.21|
|1376.8799999999997|
|            150.45|
|124.10999999999999|
|            690.12|
|7.0200000000000005|
|            271.44|
|             562.8|
+------------------+
only showing top 20 rows

In [279]:
df.select("Cost", "Sales", "Profit").show()

+------------------+--------+-------+
|              Cost|   Sales| Profit|
+------------------+--------+-------+
|              39.6|    79.2|   39.6|
|            388.92|  388.92|      0|
|             19.08|   35.19|  16.11|
|37.739999999999995|   50.94|   13.2|
|233.73000000000002|  307.44|  73.71|
|             84.48|   122.4|  37.92|
|            393.21|  413.82|  20.61|
|235.53000000000003|  428.22| 192.69|
|           1989.75| 3979.29|1989.54|
|             30.96|   43.56|   12.6|
|             24.78|   25.26|   0.48|
|1683.6000000000004|2443.905|760.305|
|             12.21|   12.21|      0|
|1376.8799999999997|2167.296|790.416|
|            150.45| 138.105|-12.345|
|124.10999999999999| 128.385|  4.275|
|            690.12|  690.12|      0|
|7.0200000000000005|    8.16|   1.14|
|            271.44|  347.88|  76.44|
|             562.8| 575.505| 12.705|
+------------------+--------+-------+
only showing top 20 rows

In [280]:
# bring everything together -> create a new column with these conditional statements

In [285]:
# Because we didn't import when

df.withColumn("Profitable Flag", when(df["Profit"] > 0, "Profitable").
              when(df["Profit"] < 0, "not Profitable").
              otherwise("Error"))

NameError: name 'when' is not defined

In [286]:
from pyspark.sql.functions import when

In [292]:
df.withColumn("Profitable Flag", when(df["Profit"] > 0, "Profitable").
             when(df["Profit"] < 0 , "not Profitable").
             when(df["Profit"] == 0, "Zero").
             otherwise("Error")).show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+---------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|              Cost|Profitable Flag|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+---------------+
|     1|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|              39.6|     Profitable|
|     2|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|            388.92|           Zero|
|     3|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|             19.08|     Profitable|
|     4|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|37.739999999999995|     Profitable|
|     5|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|233.73000000000002|     Profitable|
|     6|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|             84.48|     Profitable|
|     7|ES-2018-1311038|07/02/2018|11/02/2018|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|            393.21|     Profitable|
|     8|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|235.53000000000003|     Profitable|
|     9|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|           1989.75|     Profitable|
|    10|ES-2016-5113958|02/08/2016|07/08/2016|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|             30.96|     Profitable|
|    11|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|             24.78|           Zero|
|    12|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|1683.6000000000004|     Profitable|
|    13|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|             12.21|           Zero|
|    14|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|1376.8799999999997|     Profitable|
|    15|ES-2016-2510515|20/06/2016|20/06/2016|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|            150.45| not Profitable|
|    16|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|124.10999999999999|     Profitable|
|    17|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|            690.12|           Zero|
|    18|ES-2017-4380115|16/02/2017|20/02/2017|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|7.0200000000000005|     Profitable|
|    19|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|            271.44|     Profitable|
|    20|ES-2018-2573330|03/11/2018|08/11/2018|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|             562.8|     Profitable|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+---------------+
only showing top 20 rows

In [293]:
df.select("Profit", "Profitable Flag")

AnalysisException: Column '`Profitable Flag`' does not exist. Did you mean one of the following? [Profit, Product Name, Product ID, Customer Name, Order Date, Sales, Ship Date, State, Category, City, Cost, Country, Customer ID, Order ID, Quantity, Row ID, Ship Mode, Sub-Category, Discount, Region, Segment];
'Project [Profit#3255, 'Profitable Flag]
+- Project [Row ID#3236, Order ID#3237, Order Date#3238, Ship Date#3239, Ship Mode#3240, Customer ID#3241, Customer Name#3242, Segment#3243, City#3244, State#3245, Country#3246, Region#3247, Product ID#3248, Category#3249, Sub-Category#3250, Product Name#3251, Sales#3252, Quantity#3253, Discount#3254, Profit#3255, (cast(Sales#3252 as double) - cast(Profit#3255 as double)) AS Cost#5759]
   +- Relation [Row ID#3236,Order ID#3237,Order Date#3238,Ship Date#3239,Ship Mode#3240,Customer ID#3241,Customer Name#3242,Segment#3243,City#3244,State#3245,Country#3246,Region#3247,Product ID#3248,Category#3249,Sub-Category#3250,Product Name#3251,Sales#3252,Quantity#3253,Discount#3254,Profit#3255] csv

In [298]:
df = df.withColumn("Profitable Flag", when(df["Profit"] > 0, "Profitable").
             when(df["Profit"] < 0 , "not Profitable").
             when(df["Profit"] == 0, "Zero").
             otherwise("Error"))

In [301]:
df.select("Profit", "Profitable Flag").show()

+-------+---------------+
| Profit|Profitable Flag|
+-------+---------------+
|   39.6|     Profitable|
|      0|           Zero|
|  16.11|     Profitable|
|   13.2|     Profitable|
|  73.71|     Profitable|
|  37.92|     Profitable|
|  20.61|     Profitable|
| 192.69|     Profitable|
|1989.54|     Profitable|
|   12.6|     Profitable|
|   0.48|           Zero|
|760.305|     Profitable|
|      0|           Zero|
|790.416|     Profitable|
|-12.345| not Profitable|
|  4.275|     Profitable|
|      0|           Zero|
|   1.14|     Profitable|
|  76.44|     Profitable|
| 12.705|     Profitable|
+-------+---------------+
only showing top 20 rows

In [302]:
# We want to ultimately analyse profits and figure out the driver of profits

df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Cost',
 'Profitable Flag']

In [308]:
df.select(df.columns[1]).show(5)

+---------------+
|       Order ID|
+---------------+
|ES-2018-1311038|
|ES-2018-1311038|
|ES-2018-1311038|
|ES-2018-1311038|
|ES-2018-1311038|
+---------------+
only showing top 5 rows

In [309]:
df.select("Discount").show()

+--------+
|Discount|
+--------+
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|     0.1|
|       0|
|    0.15|
|     0.1|
|     0.1|
|       0|
|       0|
|       0|
|     0.1|
+--------+
only showing top 20 rows

In [319]:
df = spark.read.option("header", "true").csv("C:/Users/mkaya/Downloads/Sample - EU Superstore.csv")

In [346]:
# how many discounts == 0 ?
#Discounts are all float so if we just write 0 it will thnik all discounts below 1 equal to zero
df.filter(df["Discount"] == 0).count()

10000

In [347]:
df.filter(df["Discount"] == 0.0).count()

6134

In [350]:
df.filter((df["Discount"] > 0.0) & (df["Profit"] >= 0)).count()

1874

In [352]:
df = df.withColumn("isDiscounted", when(df["Discount"] > 0.0, "Y").
             otherwise("N"))

In [356]:
df.select("Discount", "isDiscounted").show()

+--------+------------+
|Discount|isDiscounted|
+--------+------------+
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|       0|           N|
|     0.1|           Y|
|       0|           N|
|    0.15|           Y|
|     0.1|           Y|
|     0.1|           Y|
|       0|           N|
|       0|           N|
|       0|           N|
|     0.1|           Y|
+--------+------------+
only showing top 20 rows

# .groupBy and aggregations

In [357]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, isDiscounted: string]

In [365]:
#We need to state the columns and the aggregation function

df.groupBy("Country").count()

DataFrame[Country: string, count: bigint]

In [366]:
df.groupBy("Country").count().show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|        Sweden|  203|
|       Germany| 2065|
|        France| 2827|
|       Belgium|  147|
|       Finland|   64|
|         Italy| 1108|
|        Norway|   70|
|         Spain|  859|
|       Denmark|   65|
|       Ireland|  106|
|   Switzerland|   78|
|      Portugal|   70|
|       Austria|  270|
|United Kingdom| 1633|
|   Netherlands|  435|
+--------------+-----+

# .orderBy

In [368]:
df.groupBy("Country").count().orderBy("count").show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|       Finland|   64|
|       Denmark|   65|
|        Norway|   70|
|      Portugal|   70|
|   Switzerland|   78|
|       Ireland|  106|
|       Belgium|  147|
|        Sweden|  203|
|       Austria|  270|
|   Netherlands|  435|
|         Spain|  859|
|         Italy| 1108|
|United Kingdom| 1633|
|       Germany| 2065|
|        France| 2827|
+--------------+-----+

In [370]:
df.groupBy("Country").count().orderBy("count", ascending = False).show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|        France| 2827|
|       Germany| 2065|
|United Kingdom| 1633|
|         Italy| 1108|
|         Spain|  859|
|   Netherlands|  435|
|       Austria|  270|
|        Sweden|  203|
|       Belgium|  147|
|       Ireland|  106|
|   Switzerland|   78|
|        Norway|   70|
|      Portugal|   70|
|       Denmark|   65|
|       Finland|   64|
+--------------+-----+

In [375]:
df.groupBy("Country").count().orderBy("Country").show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|       Austria|  270|
|       Belgium|  147|
|       Denmark|   65|
|       Finland|   64|
|        France| 2827|
|       Germany| 2065|
|       Ireland|  106|
|         Italy| 1108|
|   Netherlands|  435|
|        Norway|   70|
|      Portugal|   70|
|         Spain|  859|
|        Sweden|  203|
|   Switzerland|   78|
|United Kingdom| 1633|
+--------------+-----+

In [377]:
#It will give an error because after the groupby we lost all the other columns

df.groupBy("Country").count().orderBy("Sales").show()

AnalysisException: Column 'Sales' does not exist. Did you mean one of the following? [count, Country];
'Sort ['Sales ASC NULLS FIRST], true
+- Aggregate [Country#6855], [Country#6855, count(1) AS count#8082L]
   +- Project [Row ID#6845, Order ID#6846, Order Date#6847, Ship Date#6848, Ship Mode#6849, Customer ID#6850, Customer Name#6851, Segment#6852, City#6853, State#6854, Country#6855, Region#6856, Product ID#6857, Category#6858, Sub-Category#6859, Product Name#6860, Sales#6861, Quantity#6862, Discount#6863, Profit#6864, CASE WHEN (cast(Discount#6863 as double) > 0.0) THEN Y ELSE N END AS isDiscounted#7453]
      +- Project [Row ID#6845, Order ID#6846, Order Date#6847, Ship Date#6848, Ship Mode#6849, Customer ID#6850, Customer Name#6851, Segment#6852, City#6853, State#6854, Country#6855, Region#6856, Product ID#6857, Category#6858, Sub-Category#6859, Product Name#6860, Sales#6861, Quantity#6862, Discount#6863, Profit#6864]
         +- Project [Row ID#6845, Order ID#6846, Order Date#6847, Ship Date#6848, Ship Mode#6849, Customer ID#6850, Customer Name#6851, Segment#6852, City#6853, State#6854, Country#6855, Region#6856, Product ID#6857, Category#6858, Sub-Category#6859, Product Name#6860, Sales#6861, Quantity#6862, Discount#6863, Profit#6864, CASE WHEN (cast(Discount#6863 as int) > 0) THEN Y WHEN (cast(Discount#6863 as int) < 0) THEN N ELSE None END AS Discounted_or_Not#6928]
            +- Project [Row ID#6845, Order ID#6846, Order Date#6847, Ship Date#6848, Ship Mode#6849, Customer ID#6850, Customer Name#6851, Segment#6852, City#6853, State#6854, Country#6855, Region#6856, Product ID#6857, Category#6858, Sub-Category#6859, Product Name#6860, Sales#6861, Quantity#6862, Discount#6863, Profit#6864, CASE WHEN (cast(Discount#6863 as int) > 0) THEN Y WHEN (cast(Discount#6863 as int) < 0) THEN N END AS Discounted_or_Not#6885]
               +- Relation [Row ID#6845,Order ID#6846,Order Date#6847,Ship Date#6848,Ship Mode#6849,Customer ID#6850,Customer Name#6851,Segment#6852,City#6853,State#6854,Country#6855,Region#6856,Product ID#6857,Category#6858,Sub-Category#6859,Product Name#6860,Sales#6861,Quantity#6862,Discount#6863,Profit#6864] csv

In [378]:
df.groupby("Country", "Segment", "Category").count().show()

+--------------+-----------+---------------+-----+
|       Country|    Segment|       Category|count|
+--------------+-----------+---------------+-----+
|      Portugal|   Consumer|      Furniture|    6|
|       Belgium|Home Office|     Technology|    3|
|       Belgium|Home Office|      Furniture|    3|
|        France|   Consumer|     Technology|  276|
|        Norway|   Consumer|     Technology|    9|
|       Finland|  Corporate|Office Supplies|    9|
|       Finland|   Consumer|     Technology|    8|
|       Germany|   Consumer|Office Supplies|  727|
|United Kingdom|  Corporate|     Technology|  105|
|       Ireland|Home Office|     Technology|    6|
|         Spain|   Consumer|     Technology|   85|
|       Germany|Home Office|      Furniture|   64|
|       Finland|   Consumer|Office Supplies|   24|
|         Spain|  Corporate|      Furniture|   45|
|      Portugal|   Consumer|Office Supplies|   33|
|         Italy|  Corporate|Office Supplies|  247|
|       Finland|   Consumer|      Furniture|    7|
|United Kingdom|Home Office|Office Supplies|  200|
|       Austria|Home Office|Office Supplies|   39|
|       Austria|   Consumer|Office Supplies|   98|
+--------------+-----------+---------------+-----+
only showing top 20 rows

In [380]:
# our aggregation metrics so far has only been a count -> we can do better

#max, sum, mean, median

In [394]:
df.groupBy("Country").agg({'Sales' : 'max', 'Profit':'sum'}).withColumnRenamed("max(Sales)", "biggestSale").withColumnRenamed("sum(Profit)", "totalProfit").show()

+--------------+-----------+-------------------+
|       Country|biggestSale|        totalProfit|
+--------------+-----------+-------------------+
|       Austria|      97.92|           21442.26|
|       Belgium|       97.8|           11572.59|
|       Denmark|      97.89|-4282.0470000000005|
|       Finland|     990.15|            3905.73|
|        France|     999.09| 109029.00299999975|
|       Germany|    990.468| 107322.82049999991|
|       Ireland|     981.36| -7392.381000000003|
|         Italy|     990.36| 19828.757999999965|
|   Netherlands|      99.54| -41070.07499999996|
|        Norway|     964.08|            5167.77|
|      Portugal|     93.915| -8703.059999999998|
|         Spain|     990.45|  54390.11999999999|
|        Sweden|     993.66|-17519.366999999987|
|   Switzerland|       96.9|  7237.470000000001|
|United Kingdom|      996.3| 111900.15000000001|
+--------------+-----------+-------------------+

In [395]:
grouped_country = df.groupBy("Country").agg({'Sales': 'max', 'Profit':'sum'}).withColumnRenamed('max(Sales)', 'biggestSale').withColumnRenamed('sum(Profit)', 'totalProfit')

# Remove Decimals func.round()

In [397]:
# We want remove these useless insane decimals

grouped_country.show()

+--------------+-----------+-------------------+
|       Country|biggestSale|        totalProfit|
+--------------+-----------+-------------------+
|       Austria|      97.92|           21442.26|
|       Belgium|       97.8|           11572.59|
|       Denmark|      97.89|-4282.0470000000005|
|       Finland|     990.15|            3905.73|
|        France|     999.09| 109029.00299999975|
|       Germany|    990.468| 107322.82049999991|
|       Ireland|     981.36| -7392.381000000003|
|         Italy|     990.36| 19828.757999999965|
|   Netherlands|      99.54| -41070.07499999996|
|        Norway|     964.08|            5167.77|
|      Portugal|     93.915| -8703.059999999998|
|         Spain|     990.45|  54390.11999999999|
|        Sweden|     993.66|-17519.366999999987|
|   Switzerland|       96.9|  7237.470000000001|
|United Kingdom|      996.3| 111900.15000000001|
+--------------+-----------+-------------------+

In [398]:
import pyspark.sql.functions as func

In [403]:
grouped_country.withColumn('roundedProfit', func.round(grouped_country['totalProfit'], 2)).show()

+--------------+-----------+-------------------+-------------+
|       Country|biggestSale|        totalProfit|roundedProfit|
+--------------+-----------+-------------------+-------------+
|       Austria|      97.92|           21442.26|     21442.26|
|       Belgium|       97.8|           11572.59|     11572.59|
|       Denmark|      97.89|-4282.0470000000005|     -4282.05|
|       Finland|     990.15|            3905.73|      3905.73|
|        France|     999.09| 109029.00299999975|     109029.0|
|       Germany|    990.468| 107322.82049999991|    107322.82|
|       Ireland|     981.36| -7392.381000000003|     -7392.38|
|         Italy|     990.36| 19828.757999999965|     19828.76|
|   Netherlands|      99.54| -41070.07499999996|    -41070.07|
|        Norway|     964.08|            5167.77|      5167.77|
|      Portugal|     93.915| -8703.059999999998|     -8703.06|
|         Spain|     990.45|  54390.11999999999|     54390.12|
|        Sweden|     993.66|-17519.366999999987|    -17519.37|
|   Switzerland|       96.9|  7237.470000000001|      7237.47|
|United Kingdom|      996.3| 111900.15000000001|    111900.15|
+--------------+-----------+-------------------+-------------+

In [407]:
df.groupBy("Country", "Segment", "Category").agg({'Sales' : 'sum', 'Profit' : 'mean'}).orderBy("avg(Profit)").show()

+-----------+-----------+---------------+------------------+-------------------+
|    Country|    Segment|       Category|        sum(Sales)|        avg(Profit)|
+-----------+-----------+---------------+------------------+-------------------+
|     Sweden|Home Office|      Furniture|          4927.845| -714.7475000000001|
|   Portugal|  Corporate|Office Supplies| 4464.449999999999|-287.99307692307696|
|Netherlands|Home Office|      Furniture|          7045.761| -243.9093529411765|
|Netherlands|   Consumer|     Technology|          17532.36|-225.96125000000004|
|   Portugal|  Corporate|     Technology|          1818.735|           -218.811|
|   Portugal|   Consumer|     Technology|           3112.32|-204.90749999999997|
|    Ireland|Home Office|     Technology|           1906.53|-200.98000000000002|
|Netherlands|   Consumer|      Furniture|20556.762000000002|-194.89152941176465|
|     Sweden|   Consumer|      Furniture| 3389.489999999999|-157.86200000000002|
|   Portugal|  Corporate|      Furniture|1679.9850000000001|         -130.09875|
|Netherlands|  Corporate|     Technology|          4430.175|-120.35605263157896|
|    Ireland|  Corporate|      Furniture|          1867.389|-120.27300000000001|
|    Denmark|   Consumer|     Technology|           2529.12|-118.23666666666668|
|    Denmark|  Corporate|     Technology| 824.5500000000001|           -114.444|
|     Sweden|   Consumer|     Technology|3904.9049999999997|-111.17583333333333|
|     Sweden|  Corporate|      Furniture|          2670.123|-104.20980000000002|
|    Ireland|   Consumer|      Furniture|          1290.105|          -103.3275|
|    Denmark|   Consumer|      Furniture|          1216.767|-102.11049999999999|
|    Ireland|   Consumer|     Technology|           4940.28| -99.65571428571427|
|Netherlands|Home Office|     Technology|2428.4100000000003| -91.90615384615384|
+-----------+-----------+---------------+------------------+-------------------+
only showing top 20 rows

In [412]:
group = df.groupBy("Country", "Segment", "Category").agg({"Sales" : "sum", "Profit" : "mean"}).orderBy("avg(Profit)", ascending = False).withColumnRenamed("avg(Profit)", "averageProfit").withColumnRenamed("sum(Sales)", "totalSale")

In [413]:
group.show()

+--------------+-----------+----------+------------------+------------------+
|       Country|    Segment|  Category|         totalSale|     averageProfit|
+--------------+-----------+----------+------------------+------------------+
|   Switzerland|  Corporate|Technology|           5703.75|           499.995|
|       Belgium|Home Office|Technology|            2370.3|            334.34|
|         Spain|Home Office|Technology|         19410.438| 242.8037142857143|
|        Norway|  Corporate|Technology|           6638.01|238.45125000000002|
|       Belgium|   Consumer|Technology| 5597.700000000001|228.02142857142863|
|   Switzerland|   Consumer|Technology|           5410.35|            210.63|
|       Finland|Home Office| Furniture|2246.2200000000003|200.49000000000004|
|   Switzerland|   Consumer| Furniture|3996.2400000000007|198.43285714285716|
|       Austria|   Consumer| Furniture|13766.160000000002|190.75571428571428|
|       Austria|   Consumer|Technology|          12305.01|184.16714285714284|
|       Austria|Home Office| Furniture|            3591.3|           181.446|
|United Kingdom|   Consumer|Technology|110991.59700000002| 166.4458187919463|
|       Austria|  Corporate|Technology|11086.140000000001|164.67666666666668|
|United Kingdom|  Corporate|Technology|         68470.077| 163.3911142857143|
|        Norway|  Corporate| Furniture|           1680.42|           162.705|
|       Germany|   Consumer|Technology|146568.01200000008|156.91275348837198|
|        Norway|   Consumer| Furniture|           2543.31|           148.485|
|United Kingdom|   Consumer| Furniture|         67089.456|135.01614545454547|
|United Kingdom|Home Office| Furniture|         21790.848|133.74599999999998|
|       Belgium|  Corporate|Technology|           5747.01|           129.267|
+--------------+-----------+----------+------------------+------------------+
only showing top 20 rows

In [418]:
group = group.withColumn("averageProfit", func.round(group["averageProfit"], 2)).withColumn("totalSale", func.round(group["totalSale"], 2))

In [420]:
group.show()

+--------------+-----------+----------+---------+-------------+
|       Country|    Segment|  Category|totalSale|averageProfit|
+--------------+-----------+----------+---------+-------------+
|   Switzerland|  Corporate|Technology|  5703.75|        500.0|
|       Belgium|Home Office|Technology|   2370.3|       334.34|
|         Spain|Home Office|Technology| 19410.44|        242.8|
|        Norway|  Corporate|Technology|  6638.01|       238.45|
|       Belgium|   Consumer|Technology|   5597.7|       228.02|
|   Switzerland|   Consumer|Technology|  5410.35|       210.63|
|       Finland|Home Office| Furniture|  2246.22|       200.49|
|   Switzerland|   Consumer| Furniture|  3996.24|       198.43|
|       Austria|   Consumer| Furniture| 13766.16|       190.76|
|       Austria|   Consumer|Technology| 12305.01|       184.17|
|       Austria|Home Office| Furniture|   3591.3|       181.45|
|United Kingdom|   Consumer|Technology| 110991.6|       166.45|
|       Austria|  Corporate|Technology| 11086.14|       164.68|
|United Kingdom|  Corporate|Technology| 68470.08|       163.39|
|        Norway|  Corporate| Furniture|  1680.42|       162.71|
|       Germany|   Consumer|Technology|146568.01|       156.91|
|        Norway|   Consumer| Furniture|  2543.31|       148.49|
|United Kingdom|   Consumer| Furniture| 67089.46|       135.02|
|United Kingdom|Home Office| Furniture| 21790.85|       133.75|
|       Belgium|  Corporate|Technology|  5747.01|       129.27|
+--------------+-----------+----------+---------+-------------+
only showing top 20 rows

# collect method

In [424]:
# we want to bring the name of the country which has the lowest number of sales, which is 'Denmark'

df.groupBy("Country").agg({"Sales" : "sum"}).orderBy("sum(Sales)").show()

+--------------+------------------+
|       Country|        sum(Sales)|
+--------------+------------------+
|       Denmark| 8638.053000000002|
|      Portugal|          15105.12|
|       Ireland|16639.508999999995|
|        Norway|20525.370000000003|
|       Finland|20704.350000000002|
|   Switzerland|24877.860000000004|
|        Sweden|         30491.403|
|       Belgium| 49226.70000000003|
|   Netherlands| 77514.94500000008|
|       Austria| 81162.00000000006|
|         Spain| 287146.6800000002|
|         Italy|289709.65799999936|
|United Kingdom| 528576.2999999992|
|       Germany| 628840.0305000001|
|        France|  858931.082999999|
+--------------+------------------+

In [425]:
# collect method -> returns all rows from all different exeutors into memory at the central level

In [429]:
grouped_country = df.groupBy("Country").agg({"Sales" : "sum"}).orderBy("sum(Sales)", ascending = True).withColumnRenamed("sum(Sales)", "totalSale")

In [430]:
grouped_country.show()

+--------------+------------------+
|       Country|         totalSale|
+--------------+------------------+
|       Denmark| 8638.053000000002|
|      Portugal|          15105.12|
|       Ireland|16639.508999999995|
|        Norway|20525.370000000003|
|       Finland|20704.350000000002|
|   Switzerland|24877.860000000004|
|        Sweden|         30491.403|
|       Belgium| 49226.70000000003|
|   Netherlands| 77514.94500000008|
|       Austria| 81162.00000000006|
|         Spain| 287146.6800000002|
|         Italy|289709.65799999936|
|United Kingdom| 528576.2999999992|
|       Germany| 628840.0305000001|
|        France|  858931.082999999|
+--------------+------------------+

In [436]:
grouped_country.count()

15

In [434]:
grouped_country.collect()[0]

Row(Country='Denmark', totalSale=8638.053000000002)

In [435]:
grouped_country.collect()[0]["Country"]

'Denmark'

In [439]:
grouped_country.collect()[0][0]

'Denmark'

In [440]:
bottom_country_sales = grouped_country.collect()[0][0]

In [441]:
bottom_country_sales

'Denmark'

In [442]:
type(bottom_country_sales)

str

In [444]:
### We should be very careful when use collect() method, beacuse this method brings all the data to the ram of the masternode,
##so we can use this method if our data well grouped

In [445]:
# show me all the rows of the country which has the lowest sales

lowest_name = df.groupBy("Country").agg({'Sales' : 'sum'}).orderBy('sum(Sales)', ascending=True).collect()[0][0]

In [450]:
df.filter(df["Country"] == lowest_name).count()

65

In [454]:
df[df["Country"] == lowest_name].show(2)

+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|  Segment|   City|        State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|isDiscounted|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|   626|ES-2015-4825230|18/01/2015|23/01/2015|  Second Class|   RB-19435| Richard Bierner| Consumer|Esbjerg|South Denmark|Denmark| North|OFF-BI-10004446|Office Supplies|     Binders|Acco Binding Mach...|25.545|       1|     0.5|-10.755|           Y|
|   728|ES-2017-2219250|24/09/2017|29/09/2017|Standard Class|   AR-10405|Allen Rosenblatt|Corporate| Odense|South Denmark|Denmark| North|TEC-PH-10004825|     Technology|      Phones| Cisco Headset, VoIP| 88.53|       2|     0.5| -81.45|           Y|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
only showing top 2 rows

In [455]:
# or we can use filter method also

df.filter(df["Country"] == lowest_name).show(2)

+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|  Segment|   City|        State|Country|Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|isDiscounted|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|   626|ES-2015-4825230|18/01/2015|23/01/2015|  Second Class|   RB-19435| Richard Bierner| Consumer|Esbjerg|South Denmark|Denmark| North|OFF-BI-10004446|Office Supplies|     Binders|Acco Binding Mach...|25.545|       1|     0.5|-10.755|           Y|
|   728|ES-2017-2219250|24/09/2017|29/09/2017|Standard Class|   AR-10405|Allen Rosenblatt|Corporate| Odense|South Denmark|Denmark| North|TEC-PH-10004825|     Technology|      Phones| Cisco Headset, VoIP| 88.53|       2|     0.5| -81.45|           Y|
+------+---------------+----------+----------+--------------+-----------+----------------+---------+-------+-------------+-------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
only showing top 2 rows

In [491]:
# get all the rows for the 3 bottom countries by profit

bottom_three = df.groupBy("Country").agg({"Profit" : "sum"}).orderBy("sum(Profit)", ascending=True).collect()[0:3]

In [492]:
bottom_three

[Row(Country='Netherlands', sum(Profit)=-41070.07499999996),
 Row(Country='Sweden', sum(Profit)=-17519.366999999987),
 Row(Country='Portugal', sum(Profit)=-8703.059999999998)]

In [493]:
type(bottom_three)

list

In [494]:
bottom_three = [element[0] for element in bottom_three]

In [495]:
bottom_three

['Netherlands', 'Sweden', 'Portugal']

In [496]:
type(bottom_three)

list

In [500]:
df.filter(df["Country"].isin(bottom_three)).count()

708

In [506]:
df.filter(df["Country"].isin(bottom_three)).show(5)

+------+---------------+----------+----------+--------------+-----------+---------------+---------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|       City|        State|    Country| Region|     Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|isDiscounted|
+------+---------------+----------+----------+--------------+-----------+---------------+---------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
|    41|IT-2017-2373016|08/11/2017|11/11/2017|   First Class|   CM-11830| Cari MacIntyre|Corporate|  The Hague|South Holland|Netherlands|Central|OFF-SU-10003907|Office Supplies|    Supplies|Stiletto Letter O...|    15|       1|     0.5|   -9.3|           Y|
|    42|IT-2017-2373016|08/11/2017|11/11/2017|   First Class|   CM-11830| Cari MacIntyre|Corporate|  The Hague|South Holland|Netherlands|Central|OFF-BI-10001249|Office Supplies|     Binders|Acco Hole Reinfor...| 14.04|       4|     0.5|      0|           Y|
|    43|IT-2017-2373016|08/11/2017|11/11/2017|   First Class|   CM-11830| Cari MacIntyre|Corporate|  The Hague|South Holland|Netherlands|Central|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|33.075|       5|     0.5|-11.925|           Y|
|    51|IT-2018-2321796|02/04/2018|07/04/2018|Standard Class|   IL-15100|    Ivan Liston| Consumer|      Nacka|    Stockholm|     Sweden|  North|OFF-ST-10002659|Office Supplies|     Storage|Smead Shelving, W...|    72|       3|     0.5|  -5.76|           Y|
|   105|IT-2017-4388990|10/08/2017|13/08/2017|  Second Class|   MM-17260|Magdelene Morse| Consumer|Vlaardingen|South Holland|Netherlands|Central|FUR-FU-10004137|      Furniture| Furnishings|Tenex Light Bulb,...| 84.24|       6|     0.2| -15.84|           Y|
+------+---------------+----------+----------+--------------+-----------+---------------+---------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------+--------+--------+-------+------------+
only showing top 5 rows