In [1]:
import numpy as np
import pandas as pd

# Pandas Series
## pandas.Series

We'll start analysing "The Group of Seven".Which is a political formed by Canada, France,Germany, Italy, Japan, the United Kingdom and the US. We'll start by analysing the population, and for that, we'll use a pandas.Series object

In [100]:
# In millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 237.061, 64.511, 318.523])

In [4]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    237.061
5     64.511
6    318.523
dtype: float64

In [5]:
# Someone might not know we're representing population in millions of inhabitants. 
#Series can have a "name", to better document the purpose of Series

In [6]:
g7_pop.name = "G7 Population in millions"

In [7]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    237.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [8]:
# Series are pretty similar to numpy arrays

In [9]:
g7_pop.dtype

dtype('float64')

In [12]:
#they're actually backed by numpy arrays
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 237.061,  64.511, 318.523])

In [14]:
type(g7_pop.values)

numpy.ndarray

In [16]:
type(g7_pop)

pandas.core.series.Series

And they look like simply Python lists or Numpy Arrays. But they're actually more similar to Python dict's
A series has an index, that's similar to the automatic index assigned to Python's lists:

In [101]:
g7_pop.to_frame()

         0
0   35.467
1   63.951
2   80.940
3   60.665
4  237.061
5   64.511
6  318.523

In [20]:
g7_pop[0]

35.467

In [22]:
g7_pop[1]

63.951

In [23]:
# pd.Series elementlerine indexler otomatik atanıyor

In [24]:
l = ["a","b","c","d"]

In [28]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [104]:
g7_pop.index = ["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"]

In [106]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [31]:
g7_pop["Canada"]

35.467

In [33]:
g7_pop["United States"]

318.523

In [201]:
#Aynı anda iki iş yapmak yerine şöyle de pd.Series oluşturabiliriz
g7_population = pd.Series({
    "Canada" : 35.462,
    "France" : 63.951,
    "Germany" : 80.94,
    "Italy" : 60.665,
    "Japan": 127.061,
    "United Kingdom" : 64.511,
    "United States" : 318.523,
}, name = "Population")

In [202]:
g7_population[1]

63.951

In [203]:
g7_population.to_frame()

                Population
Canada              35.462
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [38]:
type(g7_population)

pandas.core.series.Series

In [39]:
type(g7_population.values)

numpy.ndarray

In [40]:
g7_population["Canada"]

35.462

In [41]:
g7_population[0]

35.462

In [42]:
g7_population["Japan"]

127.061

In [43]:
g7_population[4]

127.061

In [46]:
pd.Series(g7_pop, index = ["France", "Germany", "Italy"])

France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

# Indexing

In [48]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [50]:
g7_pop["Canada"]

35.467

In [51]:
g7_pop["Japan"]

237.061

In [53]:
# iloc attribute let us to use numeric indexing
g7_pop.iloc[0]

35.467

In [54]:
g7_pop.iloc[-1]

318.523

In [125]:
#selecting multiple lements at once
g7_pop.loc[["Italy","France"]] #Çift köşeli parantezzz

Italy     60.665
France    63.951
dtype: float64

In [128]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
dtype: float64

In [62]:
l

['a', 'b', 'c', 'd']

In [64]:
l[:2]

['a', 'b']

In [60]:
#Slicing also works but more important, in Pandas, the upper limit is also included
g7_pop["Canada":"Italy"]

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

# Conditional Selection

The same boolean array techniques we saw applied to numpy arrays can be used for Pandas series too

In [61]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [65]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [66]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            237.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [70]:
g7_pop.mean()

123.01685714285715

In [71]:
g7_pop[g7_pop>g7_pop.mean()]

Japan            237.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [72]:
g7_pop.std()

109.13571268292303

# Operations and methods

In [73]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [74]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             237061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [78]:
g7_pop.mean()

123.01685714285715

~ Not
| Or
& and

In [77]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() /2) ]

Germany           80.940
Japan            237.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [79]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             5.468317
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [80]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            237.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [83]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            237.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [84]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany    80.94
Name: G7 Population in millions, dtype: float64

# Modifying Series

In [85]:
g7_pop["Canada"] = 40.5

In [86]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [87]:
g7_pop.iloc[-1]

318.523

In [88]:
g7_pop.iloc[-1] = 500

In [89]:
g7_pop.iloc[-1]

500.0

In [90]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             237.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [91]:
g7_pop[g7_pop < 70] = 99.99

In [92]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             237.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64

# Pandas Dataframes

Creating DataFrames manually can be tedious. 99% of the time you'll be pulling the data from a Database, a csv file or the web. But still, you can create a DataFrame by specifying the columns and values:

In [4]:
df = pd.DataFrame({
    'Population': [35.467,
                   63.951,
                   80.94 ,
                   60.665,
                   127.061,
                   64.511,
                   318.523
                  ],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [5]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [6]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
df.index = ["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"]

In [9]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [10]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [12]:
df.size

35

In [13]:
df.shape

(7, 5)

In [15]:
df.describe

<bound method NDFrame.describe of                 Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America>

In [16]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [17]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

# Indexing, Selection and Slicing

In [18]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [20]:
df.loc["Canada"]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [22]:
df.iloc[0] #indexi numerik olarak getir

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [24]:
df.loc("Population") #Böyle hata verir locu silmen lazım.Böyle Sadece indexleri secebilirsin

ValueError: No axis named Population for object type DataFrame

In [25]:
df["Population"] # Sütunları getirmek istersen sadece yazman yeterli

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [26]:
df["Canada"] # indexleri getirmek istersen .loc kullanman lazım

KeyError: 'Canada'

### kısaca df.loc[ ] yatay satırları getirirken df[ ] dikey satırları getirir

In [29]:
df["Population"].shape

(7,)

In [31]:
df.name = "Few information about Countries"

In [36]:
df.info

<bound method DataFrame.info of                 Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America>

In [37]:
df["GDP"]

Canada             1785387
France             2833687
Germany            3874437
Italy              2167744
Japan              4602367
United Kingdom     2950039
United States     17348075
Name: GDP, dtype: int64

In [38]:
df["GDP"]["Canada"]

1785387

In [51]:
df["Population"]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [52]:
# Daha estetik bir görünüm katıyor
df["Population"].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [53]:
# Multiple Columns can also be selected similarly to numpy and Series

In [60]:
# Çift Parantezzz
df[["Population", "GDP"]]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [130]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [67]:
df.loc["Italy":"United States"]

                Population       GDP  Surface Area    HDI Continent
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [69]:
df.loc["France":"Italy", "Population"].to_frame()

         Population
France       63.951
Germany      80.940
Italy        60.665

In [70]:
df.loc["France":"Italy", ["Population", "GDP"]]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

### .iloc works for the numeric position of the index

In [75]:
# .loc ile aynı çalışır tek farkı isim yerine indexin numarasını yazıyorsun
df.iloc[0:3]

         Population      GDP  Surface Area    HDI Continent
Canada       35.467  1785387       9984670  0.913   America
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [76]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [131]:
df.iloc[[0, 1, -1]] #0ınci 1inci ve -1 inci indexi getir

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [79]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [84]:
#1 den 3e kadar olan indexlerden 3üncü columnu ver
df.iloc[1:3 , 3].to_frame()

           HDI
France   0.888
Germany  0.916

In [85]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [87]:
df.iloc[1:3, 0:3]

         Population      GDP  Surface Area
France       63.951  2833687        640679
Germany      80.940  3874437        357114

    # RECOMMENDED: Always use .loc and .iloc to reduce ambiguity, especially with DataFrames with numeric indexes

In [88]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [89]:
df.name

'Few information about Countries'

In [90]:
df.name = "Few information about G7 countries"

In [91]:
df.name

'Few information about G7 countries'

In [94]:
df.describe

<bound method NDFrame.describe of                 Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America>

In [95]:
df.size

35

In [96]:
df.shape

(7, 5)

In [98]:
df.loc["Canada"].describe

<bound method NDFrame.describe of Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object>

# Conditional Selection (boolean arrays)

We saw the conditional selection in pd.Series and it will work the same in pd.DataFrame s. After all a DataFrame is a collection of a Series

In [132]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [133]:
df["Population"] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [135]:
df["Population" > 70]

TypeError: '>' not supported between instances of 'str' and 'int'

In [145]:
df.loc[df["Population"] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [148]:
df.loc[df["Population"] > 70, "Population"]

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [153]:
df.loc[df["Population"] > 70, ["Population", "GDP"]]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

# Dropping Stuff

In [154]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [161]:
#Bu hariç diğer değerleri göster, kalıcı değildir
df.drop("Canada")

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [162]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [163]:
df.drop(["Canada", "Japan"])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [164]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [167]:
#Columnları silmke isterken belşirtmek gerekiyor
df.drop(columns = ["Population", "HDI"])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [171]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [175]:
df.drop(["Canada", "Italy"], axis = 0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [178]:
df.drop(columns = ["Population", "GDP"], axis = 1)

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.873    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

In [180]:
#Aksisi belirtince column olduğunu belirtmeden dropluyor
df.drop(["Population", "GDP"], axis = 1)

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.873    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

# Operations

In [189]:
df.loc[["Canada", "Italy"]]["GDP"].to_frame()

            GDP
Canada  1785387
Italy   2167744

In [190]:
df[["Population", "GDP"]] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

In [191]:
crisis = pd.Series([-1_000_000, -0.3], index = ["GDP", "HDI"])

In [197]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [194]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [195]:
df[["GDP", "HDI"]] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

# Modifying DataFrame ' s

In [210]:
languages = pd.Series({
"France":"French",
"Germany": "German",
"Italy": "Italian"}, name = "Language")

In [211]:
languages

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [212]:
languages.to_frame()

        Language
France    French
Germany   German
Italy    Italian

In [213]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [216]:
# Language adında yeni bir column oluşturup languages serisini ekliyorum
df["Language"] = languages

In [217]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [236]:
df.iloc[0:-1, -1]

Canada                NaN
France             French
Germany            German
Italy             Italian
Japan                 NaN
United Kingdom        NaN
Name: Language, dtype: object

In [232]:
df["Language"]["Canada"]

nan

# Renaming Columns

In [265]:
df.rename(
    columns = { "HDI" : "Human Development Index",
    "Anual Popcorn Consumption" : "APC"
},
    index =  {"United States" : "USA",
            "United Kingdom" : "UK",
            "Argentina" : "AR"
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
UK,64.511,2950039,242495,0.907,Europe,NaN
USA,318.523,17348075,9525067,0.915,America,NaN

In [266]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN